<h1>Chats</h1>

<p class="lead mb-3">Welcome {{user.name}}</p>
<form action="/conversation" method="GET">

<div>
    <label for="receptor">Buscar usuario</label>
    <input type="text" name="receptor" placeholder="Escribe el nombre de usuario" id="receptor">
</div>

<div>
    <button>Buscar</button>
</div>
    

</form>