<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                Create Post
            </h1>
            <p></p>
            **Click on create post and then add images, videos or documents**
            <p></p>
            <form action="/posts/create" method="POST">
                <div class="form-group">
                    <h5 for="description">Description</h5>
                    <textarea rowss = "4" id="description" name="description" class="form-control" placeholder="Enter a Description"></textarea>
                </div>
                <div class="'form-group">
                    <label>Set your post public?   <input type="checkbox"  name="isPublic" id="isPublic"></label>
                </div>
                <div class="'form-group">
                    <input id="email" name="email" type="hidden" value="<%= user.email %>">
                </div>
                <p></p>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" > Create Post </button>
                </div>                          
            </form>
        </div>
        <p></p>
        <a href="/posts/myPosts" class="btn btn-primary btn-block mb-2">Finish</a>
    </div>
</div>