<div class="container p-5">
    <a href="/dashboard" class="btn btn-primary btn-block mb-2">Back to feed</a>
    <div class="row">
        {{#each links}}
        <div class="col-md-10">
            <div class="card text-center">
                <div class="card-body">
                    <p class="m-2">{{description}}</p>
                    <h3>Photos</h3>
                    <div>
                        <img src="../static/images/image1648330290568.jpeg" width="350" height="350">
                        <img src="../static/images/image1648330290568.jpeg" width="350" height="350">
                        <img src="../static/images/image1648330290568.jpeg" width="350" height="350">
                    </div>
                    <h3>Videos</h3>
                    <div>
                        <video controls width="350" height="350">
                            <source src = '../static/videos/video1648330596013.mp4'>
                        </video>
                        <video controls width="350" height="350">
                            <source src = '../static/videos/video1648330596013.mp4'>
                        </video>
                        <video controls width="350" height="350"></video>
                            <source src = '../static/videos/video1648330596013.mp4'>
                        </video>
                    </div>
                    <h3>Documents</h3>
                    <div>
                        <embed src="../static/documents/document1648331442590.pdf" type="application/pdf" width="350" height="350">
                        <embed src="../static/documents/document1648331442590.pdf" type="application/pdf" width="350" height="350">
                        <embed src="../static/documents/document1648331442590.pdf" type="application/pdf" width="350" height="350">
                    </div>
                    <p></p>
                    <a class="btn btn-danger" href="/posts/delete/{{id}}">
                        Delete Post
                    </a>
                    <a class="btn btn-secondary" href="/posts/edit/{{id}}">
                        Edit Post
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        {{/each}}
    </div>
</div>