<div class="container p-5">
    <a href="/dashboard" class="btn btn-primary btn-block mb-2">Back to feed</a>
    <div class="row">
        {{#each posts}}
        <div class="col-md-10">
            <div class="card text-center">
                <div class="card-body">
                    <h2 class="card-title text-uppercase">
                        {{user.email}}
                    </h2>
                    <p class="m-2">{{description}}</p>
                    <h3>Photos</h3>
                    <div class="slides">
                        <img src="https://www.nationalgeographic.com.es/medio/2018/02/27/playa-de-isuntza-lekeitio__1280x720.jpg" width="350" height="350">
                        <img src="https://mott.pe/noticias/wp-content/uploads/2019/03/los-50-paisajes-maravillosos-del-mundo-para-tomar-fotos.jpg" width="350" height="350">
                        <img src="https://static.dw.com/image/58845200_303.jpg" width="350" height="350">
                    </div>
                    <h3>Videos</h3>
                    <div class="slides">
                        <img src="https://www.nationalgeographic.com.es/medio/2018/02/27/playa-de-isuntza-lekeitio__1280x720.jpg" width="350" height="350">
                        <img src="https://mott.pe/noticias/wp-content/uploads/2019/03/los-50-paisajes-maravillosos-del-mundo-para-tomar-fotos.jpg" width="350" height="350">
                        <img src="https://static.dw.com/image/58845200_303.jpg" width="350" height="350">
                    </div>
                    <h3>Documents</h3>
                    <div class="slides">
                        <img src="https://www.nationalgeographic.com.es/medio/2018/02/27/playa-de-isuntza-lekeitio__1280x720.jpg" width="350" height="350">
                        <img src="https://mott.pe/noticias/wp-content/uploads/2019/03/los-50-paisajes-maravillosos-del-mundo-para-tomar-fotos.jpg" width="350" height="350">
                        <img src="https://static.dw.com/image/58845200_303.jpg" width="350" height="350">
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        {{/each}}
    </div>
</div>