    		<h1 class="text-center">New post</h1>
    		
    		<form action="" method="POST">

                <label class="switch">
                    <label for="is_public">Do you want to make your post public?</label>
                    <input type="checkbox">
                    <span class="slider"></span>
                  </label>
    		    
    		    <div class="form-group">
    		        <label for="description">Description</label>
    		        <textarea rows="4" class="form-control" name="description" ></textarea>
    		    </div>

                <div class="form-group">
                <form method="post" action="proceso.php" enctype="multipart/form-data">
                    Select Photos: <input type="file" name="file[]" multiple>
                 </form>
                </div>
    		    
                <div class="form-group">
                 <form method="post" action="proceso.php" enctype="multipart/form-data">
                    Select Videos: <input type="file" name="file[]" multiple>
                 </form>
                </div>

                <div class="form-group">
                 <form method="post" action="proceso.php" enctype="multipart/form-data">
                    Select Documents: <input type="file" name="file[]" multiple>
                 </form>
                </div>

    		    <div class="form-group">
    		        <a href="/post" class="btn btn-primary btn-block mb-2">Create Post</a>
    		        <a href="/dashboard" class="btn btn-primary btn-block mb-2">Cancel</a>
    		    </div>
    		    
    		</form>