<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <form action="/posts/create/addImages" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <h5>Select Photos:</h5>
                    <input type="file" id="images" name="images" multiple/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" > Next </button>
                </div>
            </form>
        </div>
        <p></p>
        <a href="/posts/myPosts" class="btn btn-primary btn-block mb-2">Finish</a>
    </div>
</div>