<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Account Data
    </h1>
    </head>
  <body>
    <h1>Change your data: </h1>
    <img src="..." class="rounded mx-auto d-block" alt="...">
    <p></p>
    <p></p>
    <p></p>

    <!-- NAME FORM -->
    <form class="form-floating">
      <h5 for="mailLabel">Your email is: <%= user.mail %></h5>
      
        <input type="text" class="form-control" id="floatingInputValue" placeholder="New Name" value="Marco Reveiz">
        <label for="floatingInputValue">Your Name</label>
        <p></p>
        <p></p>
        <p></p>
      </form>
    <!-- EMAIL FORM -->
    <form class="form-floating">
        
        <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="">
        <label for="floatingInputValue">Your email</label>
    </form>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="isPublicEmail">
        <label class="form-check-label" for="isPublicEmail">Set your email public</label>
    </div>
    <!-- PASSWORD FORM -->
    <div class="mb-3 row">
        <h2 for="staticPassword" class="col-sm-2 col-form-label">Old Password: </h2>
        
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="staticPassword" value="password">
        </div>
      </div>
      <div class="mb-3 row">
        <h2 for="newPassword" class="col-sm-2 col-form-label">New Password: </h2>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword">
        </div>
      </div>
    <!-- Description FORM -->
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a description here"  id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Description</label>
        <p></p>
        <p></p>
        <p></p>
      </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="isPublicDescrip">
        <label class="form-check-label" for="isPublicDescrip">Set your description public</label>
    </div>
    <!-- New Hoobies -->
        <p></p>
        <p></p>
        <p></p>
    <h5 for="Hoobies">Select your favorite hoobies (Ctrl + click)!</h5>
      
    <select class="form-select" multiple aria-label="newHoobies">
            <option value="Sports">Sports </option>
            <option value="Gym">Gym</option>
            <option value="Art">Art</option>
            <option value="Surf">Surf</option>
            <option value="Movies">Movies</option>
            <option value="Photography">Photography</option>
            <option value="Art">Art</option>
            <option value="Video Games">Video Games</option>
            <option value="Reading">Reading</option>
    </select>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="isPublicHoobie">
        <label class="form-check-label" for="isPublicHoobie">Set your hoobies public</label>
    </div>
    <!-- New Interests -->
        <p></p>
        <p></p>
        <p></p>
    <h5 for="Interests">Select your favorite interests (Ctrl + click)!</h5>

    <select class="form-select" multiple aria-label="newInterests">

        <option value="Health" selected>Health</option>
        <option value="Fitness">Fitness</option>
        <option value="Languages">Languages</option>
        <option value="Food">Food</option>
        <option value="Literature">Literature</option>
        <option value="Religion">Religion</option>
        <option value="Fashion">Fashion</option>
        <option value="Technology">Technology</option>
        <option value="Party">Party</option>
        <option value="Bars">Bars</option>
        <option value="Travel">Travel</option>

    </select>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="isPublicInterests">
        <label class="form-check-label" for="isPublicInterests">Set your interests public</label>
    </div>
    <!-- Image uploader -->
    <div>
        <p></p>
        <p></p>
        <p></p>
        <h5 for="formFileLg" class="form-label">Change your profile pic: </h5>
        <input class="form-control form-control-lg" id="formFileLg" type="file">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="isPublicImage">
        <label class="form-check-label" for="isPublicImage">Set your profile picture public</label>
    </div>
    <p></p>
    <p></p>
    <p></p>
    
    <a href="/dashboard" class="btn btn-primary btn-block mb-2">Back to feed</a>
      
  </body>
</html>
