<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <form action="/User/updateProfilePic" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <h5>Select Photos:</h5>
                    <input type="file" id="images" name="images"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" > Submit </button>
                </div>
            </form>
        </div>
        <p></p>
        <a href="/dashboard" class="btn btn-primary btn-block mb-2">Back to dashboard</a>
    </div>
</div>