<h1>Responses</h1>

<ul>
    {{#each responses}}
    <li>
        <h3>{{remitente}} {{Comentario}}</h3>
        <p>{{prettifyDate fecha}}</p>        
    </li>
    {{/each}}
</ul>

<div>
    <a href="/dashboard" class="btn btn-secondary btn-block">Back</a>
</div>
    